@media screen and (min-width: 480px) {
  .conteiner { 
  max-width: 428px; 
  } 
  .contact-link-phone {
    font-size: 36px;
  }
  .social-list {
    gap: 56px;
    justify-content: flex-start;
  }
  .item-text {
    width: 320px;
  }
  .hero-item {
    max-width: 396px;
  }
  }
  @media screen and (max-width: 767px) {
    .header-flex {
      display: none;
    } 
    .header-adress {
      display: none;
    }
    .card-conteiner {
      flex-direction: column;
      align-items: center;
      display: flex;
    
    }
  .custom-list {
    flex-direction: row;
  }
.footer-website {
  max-width: 268px;
}
.modal {
  max-width: 392px;
  min-height: 586px;
}
  }
  @media screen and (max-width: 1199px) {
.hero-icon-shadow {
display: none;
}
}



  


    
   
 
  