:root {
  --main-title-color: #2e2f42;
  --secondary-title-color: #434455;
  --accent-color: #f4f4f4;
  --thirdary-title-color: #ffffff;
  --fourdary-title-color: #e7e9fc;
  --back-color-title: #4d5ae5;
  --background-color: #404bbf;
  --secondary-font: "Raleway", sans-serif;
  --basic-size: 24px;
  --background-secondary-color: #f4f4fd;
  --basic-space: 120px;
  --transition-duraction-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  --input-color: #8E8F99;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.conteiner {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
  background: var(--thirdary-title-color);
  
  
}
.link {
  list-style: none;
}
.list {
  text-decoration: none;
}

.button-title:hover,
.button-title:focus {
  background: var(--background-color);
  
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}
.section {
  padding-top: var(--basic-space);
  padding-bottom: var(--basic-space);
}
/*------Head------*/
.header {
  padding: 24px 156px;
  display: flex;
  border-bottom: solid 1px var(--fourdary-title-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}
.header-shine {

}
.header-flex {
  display: flex;
  gap: 40px;
  margin-left: 76px; 
 color: #434455;
}

.header .conteiner { 
  display: flex; 
}
.conteiner-head {
  margin-bottom: 48px;
  border: transparent;
}
.header-head.active::after {
  content:"";
  width: 100%;
height: 4px;
background-color: var(--background-color);
display: block;
position: absolute;
bottom: -28px;
left: 0;
}
.header-head.active {
  color:var(--background-color);
 
}
.header-flow {
 
}

.logo-studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.logo-web {
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-color-title);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.header-navigation {
  padding: var(--basic-size), 156px;
  display: flex;
  align-items: center;
}
.header-head:hover,
.header-head:focus {
  color: var(--background-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--background-color);
}
address {
  margin-left: auto;
}
.header-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  position: relative;
  transition: color var(--transition-duraction-and-func);
}

.header-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  align-items: flex-end;
}

.item {
  background: var(--main-title-color);
  margin-left: auto;
  margin-right: auto;
   text-align: center;
   padding: 188px 0;
   max-width: 1440px;
}
.item {
  background-color: #2E2F42 ;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/hero-image.jpg);
   background-size: cover;
     background-position: center;
  background-repeat: no-repeat;
   margin-left: auto;
   margin-right: auto;
    padding: 188px 0;
   max-width: 1440px;
}
.item-photo {
 
}
.item-text {
  font-size: 56px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  color: var(--thirdary-title-color);
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  
}
.item-button-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--thirdary-title-color);
  text-align: center;
  padding: 16px 32px;
  border:transparent;
  cursor: pointer;
  border-radius: 4px;
}

.cont-btn {
 max-width: 169px;
 border-radius: 4px;
  display: flex;
box-sizing: content-box;
align-items: center;
padding: 16px 32px;
margin: 0 635px;
}
.button-style {
  background: var(--background-color);
  transition: color var(--transition-duraction-and-func), background-color var(--transition-duraction-and-func);
}
.button-style:hover {
  background: var(--back-color-title);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: var(--transition-duraction-and-func);
}

/*------Hero------*/

.hero-section {
 
}
.cont-hero {
 display: flex;
  gap: var(--basic-size);
  
}
.hero-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-decoration: none;
  margin-bottom: 8px;
}
 
.hero-list {
}
.hero-item {
  flex-wrap: wrap;
  
}
.hero-icon-shadow {
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary-color);
  margin-bottom: 8px;
  align-items: center;
}

.hero-icons {
  box-sizing: border-box;
 margin-right: 24px;
}
.hero-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
 
}
.pic {
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  padding-top: 0;
}
.cont-img {
margin-bottom: 72px;
 text-align: center;
 
}
.photo-conteiner {
display: flex;
}
.images {
  display: flex;
  gap: var(--basic-size);
border-style: 1px solid #000000;
}

.img {
 padding-top: 0;
 padding-bottom: var(--basic-space);
}

/*------Team------*/
.team {
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
text-align: center;
margin-bottom: 72px;
 
}
.team-section {
  background-color: var(--background-secondary-color);
  padding: var(--basic-space) 0;
border-radius: 0px 0px 4px 4px;
}
.team-text {
  padding: 32px 16px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
border: 1px solid var(--fourdary-title-color);
background: var(--thirdary-title-color);
border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
 margin-bottom: 8px;
}
.team-quote {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
  
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--back-color-title);
  
}
.team-social-link:is(:hover, :focus) {
 color: var(--background-secondary-color) ;
 background-color : var(--background-color);
  
}
 .team-social-icon {
  fill: var(--thirdary-title-color);
}
.team-conteiner {
padding-right: var(--basic-margin);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-conteiner {
  display: flex;
gap: var(--basic-size);

}
/*----Customers----*/
.cuctomers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.custom-link:is(:hover, :focus){
  color: var(--background-color);
  border-color: var(--background-color);
}
.custom-link {
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  border: 1px solid #8E8F99;
  color: #8E8F99;
  transition: color var(--transition-duraction-and-func), border-color var(--transition-duraction-and-func);
}

.custom-item {
 
}
.custom-name {
  font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.custom-list {
  display: flex;
  gap: var(--basic-size);
flex-direction: row;
align-items: flex-start;
padding: 0px;
}
.custom-icon {
  box-sizing: border-box;
  fill: currentColor;
}
/*------Footer------*/
footer {
  background: var(--main-title-color);
  padding: 100px 0;
}
footer .conteiner {
display: flex;
}

.logo-color {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.notes {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fourdary-title-color);
  width: 264px;
  margin-top: 16px;
}
.footer-social-item {
width: 40px;
height: 40px;
margin-right: 16px;
}

.footer-link {
  fill: var(--thirdary-title-color);
flex-grow: 1;
}
.footer-socialmedia  {
 margin-left: 120px;

}
.footer-website {

}
.footer-social-link {
   display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-link:is(:hover, :focus) {
background-color: #31D0AA;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.socialmedia {
  letter-spacing: 0.02em;
color: var(--thirdary-title-color);
margin-bottom: 16px;
}
.input-footer {
  display: flex;
}
.subscribe-label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--thirdary-title-color);
  margin-bottom: 16px;
}
.footer-input-subscribe {

  margin-left: auto;
  transition: box-shadow var(--transition-duraction-and-func);
}
.footer-input-subscribe:is(:hover, :focus) {
box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}
.input-email {
  width: 264px;
  height: 40px;
  border: 1px solid var(--thirdary-title-color);
background-color: var(--main-title-color);
    border-radius: 4px;
 padding: 8px 0 8px 16px;
   outline: transparent;
   margin-bottom: 4px;
   font-size: 12px;
line-height: 2;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--thirdary-title-color);

}

.btn-input-footer {
  color: var(--thirdary-title-color);
  background-color: var(--back-color-title);
  padding: 8px 16px 8px 24px;
  margin-left: 24px;
flex-direction: row;
border: none;
border-radius: 4px;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

}
.social-input-link {
}
.input-icon-footer {
margin-left: 24px;

}
/*----Button-Portfolio----*/
.button-cont {
  padding-top: 96px;
  padding-bottom: var(--basic-space);
}
.button-link:hover,
.button-link:focus {
  color: var(--thirdary-title-color);
  background: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-list {
display: flex;
gap: var(--basic-size);
 margin: auto;
border:transparent;
cursor: pointer;
margin-bottom: 72px;
}

.button-cont .conteiner {
  display: flex;
  flex-wrap: wrap;
}
.button-link {
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--back-color-title);
  justify-content: center;
padding: 12px var(--basic-size);
box-sizing: border-box;
border-radius: 4px;
order: 1;
border: 1px solid var(--fourdary-title-color);
transition: color var(--transition-duraction-and-func), background-color var(--transition-duraction-and-func), box-shadow var(--transition-duraction-and-func);
}
/*----Images-portfolio----*/
.images-cont {
  display: flex;
  gap:48px  var(--basic-size);
  flex-wrap: wrap;
 
}
.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.text-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-top: 8px;
}
.images-text-cont {
  background: var(--thirdary-title-color);
  border: 1px solid var(--fourdary-title-color);
  padding: 32px 16px;
}

.images-border {
display: block;
}
.images-shadow:hover .overlay, 
.images-shadow:focus .overlay{
transform: translate(0, 0);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.images-shadow-overlay {
  position: relative;
  display: block;
  overflow: hidden;
}
.image-shadow {
 
}
.images-shadow:is(:hover, :focus){
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
.overlay {
  background-color: var(--back-color-title);
  color: #F4F4FD;
position: absolute;
letter-spacing: 0.02em;
padding-top: 40px;
padding-left: 32px;
width: 100%;
height: 100%;
display: block;
left: 0;
top: 0;
transform: translate(0, 100%);
transition: transform var(--transition-duraction-and-func);
}
/*-----Modal Window-----*/
.backdrop {
position: fixed;
left: 0;
top: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity var(--transition-duraction-and-func), visibility var(--transition-duraction-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%) scale(1);
  width: 408px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px;
  margin: 0 auto;
}
  .modal-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--fourdary-title-color);
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--fourdary-title-color);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
padding: 0;
transition: border-color var(--transition-duraction-and-func);
transition-property: transform;
  }
.modal-close-btn-icon {
  transition: fill var(--transition-duraction-and-func);
}
  .modal-close-button:is(:hover, :focus) {
background-color: var(--background-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  }
  .modal-close-button:hover .modal-close-btn-icon,
 .modal-close-button:focus .modal-close-btn-icon {
      fill:var(--thirdary-title-color);
  }
  /*-------FORM-------*/
.modal-form {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  display: block;
}
  .form-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-title-color);
margin-bottom: 16px;
  }
  .form-label span {
    color: var(--input-color);
  }
  
  .form-name {
    display: block;
    font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
color: var(--input-color);
margin-bottom: 4px;

  }
  .form-name-message {
    font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--input-color);
  }
  .form-wrapper-icon {
    position: relative;
    display: block;
  }
  .contact-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
   outline: transparent;
   transition: border-color var(--transition-duraction-and-func);
   margin-bottom: 8px;
  }
  .contact-form:focus{
    border-color: var(--back-color-title);
  }
  .contact-form:focus + .form-icon {
fill: var(--back-color-title);
  }
  .form-button {
    background-color: var(--background-color);
    color:var(--accent-color);
border-radius: 4px;
border:transparent;
  cursor: pointer;
  width: 169px;
  padding: 16px 32px;
line-height: 24px;
align-items: center;
display: block;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
margin: 0 auto;
transition: color var(--transition-duraction-and-func), background-color var(--transition-duraction-and-func), box-shadow var(--transition-duraction-and-func);
  }
  .form-button:is(:hover, :focus) {
    background-color: var(--back-color-title);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .form-textarea {
    width: 100%;
    min-height: 120px;
   margin-bottom: 16px;
   border: 1px solid rgba(33, 33, 33, 0.2);;
   box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
padding: 8px 16px;
margin-top: 4px;
resize: none;
    transition: border-color var(--transition-duraction-and-func);
  }
  .form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }
  .form-textarea:focus {
    outline: none;
    border-color: var(--back-color-title);
  }
  .form-icon {
    position: absolute;
    display: block;
    width: 18px;
    height: 24px;
   color: var(--main-title-color);
  left: 16px;
  top: 18px;
   transform: translateY(-50%);
   transition: color var(--transition-duraction-and-func);
  }
  .modal-form-desk {
 
  }  

.modal-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-title-color);
 cursor: pointer;
 transition: color var(--transition-duraction-and-func), box-shadow var(--transition-duraction-and-func), background-color var(--transition-duraction-and-func);
}
.modal-form-icon-checkbox {
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: color var(--transition-duraction-and-func), box-shadow var(--transition-duraction-and-func);
}
.modal-form-option-label {
  display: flex;
  align-items: center;
  font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
color: var(--input-color);
flex: none;
order: 1;
margin-bottom: 24px;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox .modal-form-icon-checkbox {
  opacity: 1;
  fill: var(--background-secondary-color);
}