 @media screen and (min-width: 768px) { 
  .container { max-width: 1199px; } 
  } 
  @media screen and (min-width:768px) {

adress {
  margin-left: 120px;
}

     .header-shine {  
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;

}
  }